bandit==1.7.10
black==24.10.0
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
distlib==0.3.9
filelock==3.16.1
flake8==7.1.1
identify==2.6.1
idna==3.10
isort==5.13.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.12.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
pbr==6.1.0
platformdirs==4.3.6
pre_commit==4.0.1
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rich==13.9.2
six==1.16.0
stevedore==5.3.0
termcolor==2.5.0
textwrap3==0.9.2
types-requests==2.32.0.20240914
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.26.6
